/tmp
/.bundle
/db/*.sqlite3
/db/schema.rb
/log/*.log
/tmp
/config/*.yml
/Guardfile
.rvmrc
/tags
.DS_Store
*.DS_Store
/public/system
.idea/
.sass-cache/*
app/assets/.sass-cache/
db/data.yml
log/sunspot-solr*
nbproject
solr/data/
solr/pids/
.vagrant
Vagrantfile
/.ruby-version
